# build files
*.in
*.o
.deps
/ChangeLog
/INSTALL
/aclocal.m4
/apricots/apricots
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/missing
/stamp-h1
Makefile

# make dist
apricots-*.tar.gz

# editor files
*.swp
