# build files
*.in
*.o
.deps
/aclocal.m4
/apricots/apricots
/autom4te.cache
/compile
/config.h
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/libtool
/missing
/stamp-h1
Makefile

# editor files
*.swp
