name: Build Apricots
on:
  pull_request:
    branches:
      - runway
  push:
    branches:
      - runway
  schedule:
    - cron: '07 04 * * *'

jobs:
  build-native:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15]
    steps:
      - uses: actions/checkout@v2
      - name: Install Linux dependencies
        if: startsWith(matrix.os, 'ubuntu-')
        run: |
          sudo apt-get update
          sudo apt-get install libsdl2-dev autotools-dev libopenal-dev libalut-dev clang-format cppcheck
      - name: Install Mac dependencies
        if: startsWith(matrix.os, 'macos-')
        run: |
          brew install sdl2 openal-soft freealut autoconf automake
      - name: Build
        env:
          # these are only required for Mac, but hopefully it won't break the
          # Linux build
          PKG_CONFIG_PATH: "/usr/local/opt/openal-soft/lib/pkgconfig"
          LDFLAGS: "-L/usr/local/opt/openal-soft/lib"
          CPPFLAGS: "-I/usr/local/opt/openal-soft/include"
        run: |
          ./bootstrap
          ./configure
          make
      - name: Checks
        if: startsWith(matrix.os, 'ubuntu-')
        run: |
          make check
  build-source:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libsdl2-dev libopenal-dev libalut-dev autotools-dev
      - name: Build
        run: |
          ./bootstrap
          ./configure
          make dist
      - name: Upload source distribution
        uses: actions/upload-artifact@v2
        with:
          name: source
          path: apricots-*.tar.gz
          if-no-files-found: error
